<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>NodeSMS</title>
  <link rel="shortcut icon" href="img/Mail@2x.ico">
  <link rel="icon" href="img/Mail@2x.ico">
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/global.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/main.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="hero-unit">
      <h1>NodeSMS </br><small>que es?</small></h1>
      <br>
      <p>Es una aplicacion web que permite el envio de sms's* desde el browser por medio de su celular, con solo descargar una aplicacion en su celular. *y algo mas</p>
    </div>
  <br>
  <div class="row" id="sincroniza">
    <div class="span4 center">
      <img src="img/Pensils@2x.png" alt="Sincroniza" class="resize100">
    </div>
    <div class="span8">
      <div class="well">
        <h1>Sincronizá</h1>
        <p>Subi tu agenda de contactos de tu celular, 
          asi podras enviar de manera mas facil sms's a ellos. Ademas podras realizar un backups y asi tenerlos siempre disponibles ante cualquier eventualidad.<p>
      </div>
    </div>
  </div>
  <br>
  <div class="row" id="guarda">
    <div class="span8">
      <div class="well">
        <h1>Guardá</h1>
        <p>Podes guardar todos tus sms's y tenerlos disponibles siempre.<p>
      </div>
    </div>
    <div class="span4 center">
      <img src="img/Mail@2x.png" alt="Guarda" class="resize100">
    </div>
  </div>
  <br>
  <div class="row" id="api">
    <div class="span4 center">
      <img src="img/Infinity-Loop@2x.png" alt="Api" class="resize100">
    </div>
    <div class="span8">
      <div class="well">
        <h1>Api</h1>
        <p>NodeSMS proporciona una api RESTful para que puedas extender su funcionalidad, y de esta forma poder enviar sms's desde cualquier sistema usando cualquier lenguaje.<p>
      </div>
    </div>
  </div>

  </div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>