

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


img.resize{
    width: 150px;
    height: auto;
}
img.resize100{
    width: 55%;
    height: auto;
}
.center{
	display: block;
	text-align: center;
}
.showcase {
	position: relative;
	z-index: -1;
	background: transparent url('img/SMS_illustration.jpg') center top fixed;
		-webkit-background-size: 100%; 
		-moz-background-size: 100%; 
		-o-background-size: 100%; 
		background-size: 100%; 
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover;
}